@font-face {
  font-family: "iconfont"; /* Project id 5036357 */
  src: url('iconfont.woff2?t=1759991672158') format('woff2'),
       url('iconfont.woff?t=1759991672158') format('woff'),
       url('iconfont.ttf?t=1759991672158') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cuowu:before {
  content: "\e603";
}

.icon-mti-jiantouyou:before {
  content: "\e945";
}

.icon-mti-jiantouzuo:before {
  content: "\e948";
}

.icon-jia:before {
  content: "\e600";
}

.icon-gengduo:before {
  content: "\e601";
}

.icon-car:before {
  content: "\e61e";
}

.icon-question-circle:before {
  content: "\e782";
}

.icon-star:before {
  content: "\e7df";
}

.icon-map:before {
  content: "\e7f3";
}

.icon-clock:before {
  content: "\e819";
}

.icon-menu-:before {
  content: "\e602";
}

.icon-bankcard:before {
  content: "\e693";
}

.icon-search:before {
  content: "\e87c";
}

.icon-setting:before {
  content: "\e87e";
}

.icon-Logout:before {
  content: "\e60e";
}

.icon-jianqu:before {
  content: "\e604";
}

.icon-bell:before {
  content: "\e624";
}

.icon-User:before {
  content: "\e60c";
}

.icon-heart:before {
  content: "\ea02";
}

.icon-cart-:before {
  content: "\e834";
}

.icon-cart_fill:before {
  content: "\e7f4";
}

.icon-a-Arrow-Down2:before {
  content: "\e628";
}

.icon-menu:before {
  content: "\e634";
}

